<p>{{select.currentlySelected.join()}}</p><br><br>

<div class="container">
    <div class="col-xs-5 materialSelect inline empty">
        <ul class="select">
            
            <li data-selected="true" 
            	data-value="default"
            	ng-click="select.clearSelections()">
            	Choose something...
            </li>

            <li ng-repeat="option in select.options" 
            	data-value="{{$index}}"
            	ng-click="select.updateOptions(option)">
            	{{option.name}}
            </li>
            
        </ul>
        <div class="message">Please select something</div>
    </div>
</div>


