$base: #303f9f;
$accent: #E91E63;
$error: #DD2C00;
body{
    min-width: calc(100vw - 20px);
    min-height: 100vh;
}
.container{
    margin-top: 150px;
    margin-left: 20px;
}
.drop {
    display: block;
    position: absolute;
    background: #CCC;
    border-radius: 100%;
    transform: scale(0);
    pointer-events: none;
    width: 100%;
    height: 100%;
    
    &.animate {
        animation: drop 1s ease-out;
    }
}

@keyframes drop {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

.materialSelect{
    height: 70px;
    width:200px;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    
    &.error {
        .select:not(.isOpen){
            border: 1px solid $error !important;
        }
        .message {
            display: block;
        }
    }
    &.inline{
        float: none !important;
        display: inline-block;
        z-index: 0;
        min-width: 100px;

        .select{
            transform: translate(0, 0);
            top: 0;
            left: 0;
            margin: 0;
            transition: all 0.2s !important;
            width: 100%;

            &.isOpen{
                transform: translate(0, -50%);
                top: 50%;
            }
        }
    }
    &:not(.inline){
        width: 100%;

        .select{
            width: 100%;
            margin-left: 50%;
            transform: translate(-50%, 0);
        }
    }
    .select {
        position: absolute;
        margin: 0;
        padding: 0;
        top: -1px;
        user-select: none;
        width: 250px;
        text-align: center;
        margin: 0px auto;
        z-index: 9999;
        height: 48px;
        overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0); 
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        background-color: #fff;
        margin-left: 0;
        transform: none;
        
        &:after {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #bbbbbb;
            content: '';
            display: block;
            height: 0px;
            position: absolute;
            pointer-events: none;
            top: 19px;
            right: 10px;
            width: 0px;
        }
        li {
            cursor: pointer;
            font-size: 15px;
            list-style: none;
            line-height: 48px;
            padding: 0 48px 0 24px;
            position: relative;
            overflow: hidden;
            font-family:lato;
            text-align:center;
            
            &:before {
              content: '';
            }
            &[data-value='default'] {
              color:rgba(0,0,0,.73);
            }
            &[data-selected] {
                height: 48px;
            }
            
            &:not([data-selected]) {
                height: 0px;
                opacity: 0;
            }
        }
        &.isOpen {
            background-color: #fafafa;
            border-radius: 2px;
            box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.3);
            padding-bottom: 16px;
            top: -96px;
            height: 250px;
            z-index: 99999;
            
            &:after {
                display: none;
            }
            &:before {
                border-color: transparent !important;
            }
            li {
                height: 48px;
                opacity: 1;
                text-align:right;
                
                &[data-selected] {
                    color: $accent;
                }
                &[data-selected]:before {
                    content: '\2714';
                    float:left;
                }
                &:hover {
                    background-color: #eeeeee;
                }
                &:active {
                    background-color: #dbdbdb;
                }
            }
        }
        &:not(.isOpen) {
            &:hover {
                background-color: #f7f7f7;
                border-top: 1px solid #CDCDCD;
                border-bottom: 1px solid #CDCDCD;
            }
            &:active{
                box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.3);
            }
        }
        + .select:before {
            border-left: thin solid #c8c8c8;
            content: '';
            height: 32px;
            left: 0;
            position: absolute;
            top: 8px;
        }
    }
    .message{
        position: absolute;
        top: 50px;
        width: 100%;
        color: $error;
        display: none;
    }
}

@media only screen and (min-width: 1008px){
    .materialSelect{
        .select{
            transition: background 0.2s ease, border 0.2s ease, top 0.2s ease, height 0.2s ease, box-shadow 0.2s ease;
            
            li{
                transition: height 0.2s linear, opacity 0.2s ease, margin 0.2s linear;
            }
        }
    }
}